.#{$P}-button {
	
	@include normal-text;
	@include transition-out;

	background-color: $LINK_BACKGROUND_COLOR;
	border: none;
	color: $LINK_COLOR;
	cursor: pointer;
    padding: $BUTTON_PADDING;

	&:hover {

		@include transition-in;

		background-color: $LINK_BACKGROUND_COLOR_HOVER;
		color: $LINK_COLOR_HOVER;
	}
}