.#{$P}-button {
	background-color: $LINK_BACKGROUND_COLOR;
	border: none;
	color: $LINK_COLOR;
	cursor: pointer;
    font-size: $FONT_SIZE;
    line-height: $LINE_HEIGHT;
    padding: $BUTTON_PADDING;

	&:hover {
		color: $LINK_COLOR_HOVER;
	}
}