.#{$P}-icon {

	display: inline-block;
	height: $ICON_SIZE;
	vertical-align: sub;
	width: $ICON_SIZE;

	& * {
		fill: $TEXT_COLOR !important;
	}
}

.#{$P}-button {

	& .#{$P}-icon {

		& * {
			fill: $LINK_COLOR !important;
		}
	}

	&:hover {
		& .#{$P}-icon {

			& * {
				fill: $LINK_COLOR_HOVER !important;
			}
		}
	}
}