.#{$P}-loader {

	height: 100%;
	text-align: center;
}

.#{$P}-loader-dot {

	animation: 0.6s infinite loader;
	background-color: $LINK_COLOR;
	border-radius: 100%;
	display: inline-block;
	margin: -$LOADER_DOT_SIZE / 2 $LOADER_DOT_SIZE / 4 0;
	height: $LOADER_DOT_SIZE;
	opacity: 0.1;
	position: relative;
	top: 50%;
	width: $LOADER_DOT_SIZE;

	&.#{$P}--small {

		margin: -$LOADER_DOT_SIZE / 4 $LOADER_DOT_SIZE / 8 0;
		height: $LOADER_DOT_SIZE / 2;
		width: $LOADER_DOT_SIZE / 2;
	}
}

.#{$P}-loader-dot:nth-child(2) {

	animation-delay: 0.2s;
}

.#{$P}-loader-dot:nth-child(3) {

	animation-delay: 0.4s;
}

@keyframes loader {

	0% {
		opacity: 0.1;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0.1;
	}
}