$COLOUR_BLUE_1: #dcf2fd;
$COLOUR_BLUE_2: #a5cee1;
$COLOUR_BLUE_3: #62b1d8;
$COLOUR_BLUE_4: #3192e0;
$COLOUR_BLUE_5: #2086d7;
$COLOUR_BLUE_6: #1a6aab;

$COLOUR_GREEN_1: #9df29d;
$COLOUR_GREEN_2: #4db277;

$COLOUR_GREY_1: #f2f2f2;
$COLOUR_GREY_1: #b3b3b3;
$COLOUR_GREY_2: #999999;
$COLOUR_GREY_3: #333333;

$COLOUR_SALMON_1: #f79494;

$COLOUR_STEEL_1: #e1e6e9;
$COLOUR_STEEL_2: #a9becc;
$COLOUR_STEEL_3: #77858c;
$COLOUR_STEEL_4: #2b3a42;

$P: 'prefix';

$BODY_BACKGROUND_COLOR: $COLOUR_BLUE_1;
$BODY_MIN_WIDTH: 320px;

$BUTTON_PADDING: 5px 10px;

$TEXT_COLOR: $COLOUR_STEEL_4;
$TEXT_FONT_FAMILY: 'Roboto', sans-serif;
$TEXT_FONT_SIZE: 14px;
$TEXT_LINE_HEIGHT: 20px;

$ICON_SIZE: 16px;

$LINK_BACKGROUND_COLOR: white;
$LINK_COLOR: $COLOUR_BLUE_5;
$LINK_COLOR_HOVER: $COLOUR_BLUE_6;

$LOADER_DOT_SIZE: 16px;