$P: 'prefix';
$BACKGROUND_COLOR: #dcf2fd;
$BODY_MIN_WIDTH: 320px;
$BUTTON_PADDING: 5px 10px;
$FONT_FAMILY: 'Roboto', sans-serif;
$FONT_SIZE: 14px;
$ICON_SIZE: 16px;
$LINE_HEIGHT: 20px;
$LINK_BACKGROUND_COLOR: white;
$LINK_COLOR: #2086d7;
$LINK_COLOR_HOVER: #1a6aab;
$LOADER_DOT_SIZE: 16px;
$TEXT_COLOR: #2b3a42;